/* 
css positioning
- positioned in relationship to another html element on the page 
- or is positioned in relationship to the browser window
- does the element move as we scroll down the page or does stay put

relative- relative to its original position
absolute- in relation to its most recent ancestor element with positioning applied to it
(not static), if no ancestor has positioning 

fixed

*/

*{
  box-sizing: border-box;
}
body {
  background-color: red;
}
h1 {
  font-size: 20px;
  margin: 1rem;
}
ul {
  list-style: disc;
  margin: 1rem;
}

article {
  border: 1px solid black;
}

section {
  border: medium solid black;
  margin: 1rem;
  padding: 1rem;
  position: static;
}
div {
  border: medium solid black;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  /* left: 100px; */
}

div#one {
  left: 300px;
  top: 200px;
}
div#two {
  bottom: 100px;
}

div#three {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: white;
}


